@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
}

header {
  padding-top: 10.5rem;
  padding-bottom: 6rem;
  text-align: center;
  color: #fff;
  background-image: url("../img/rm-header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 120vh;
}

h3 {
  color: #ffc800 ;
}
.navbar-brand {
  font-size: 4rem;
  color: #ffc800 !important;
  font-family: "Kaushan Script", cursive;
}

.nav-link {
  font-family: 'Montserrat', sans-serif !important;
  color: white !important;
  letter-spacing: 0.1em !important;
}

.container-relojes {
    display: flex;
    width: 90%;
    flex-direction: row;
    padding: 0px;
    justify-content: center;
    margin: 0 auto;
    border: 2px solid fuchsia;
}

.container-secundario {
  display: flex;
  width: 90%;
  flex-direction: column;
  padding: 5px 0;
  justify-content: center;
  margin: 20px auto;
}

.card {
    width: 200px; 
    margin: 16px;
    
}

.container-anclas {
  display: flex;
  width: 70%;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 5%;
  text-align: center;
}

.ancla {
  padding: 0 0 5% 0;
}

.boton {
    padding: 15px 30px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: black;
    border-radius: 6px;
    border: 2px solid fuchsia;
  
}

.selectValor {
  font-weight: 600;
  font-size: 30px;
}

.boton__select {
  padding: 15px 30px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background-color: black;
  border-radius: 6px;
  border: 2px solid orange;
  margin: 20px 0 0 0;
}
